<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.europa.publications.mygeossias" android-versionCode="500000" version="5.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Invasive Alien Species Europe</name>
    <content src="index.html" />
    <access origin="*" />
    <access origin="content:///*" />
    <access origin="http://localhost:8080" />
    <allow-navigation href="http://localhost:8080/*" />
    <allow-intent href="http://localhost:8080/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
	<allow-intent href="market:*" />
	<preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="30" />
        <preference name="Orientation" value="portrait" />
        <allow-navigation href="*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.9.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.9.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.9.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.9.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.9.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.9.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.9.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.9.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.9.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.9.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.9.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.9.png" />
        <splash density="xlarge-land-mdpi" src="resources/android/splash/drawable-xlarge-land-mdpi-screen.9.png" />
        <splash density="xlarge-land-hdpi" src="resources/android/splash/drawable-xlarge-land-hdpi-screen.9.png" />
        <splash density="xlarge-land-xhdpi" src="resources/android/splash/drawable-xlarge-land-xhdpi-screen.9.png" />
        <splash density="xlarge-port-mdpi" src="resources/android/splash/drawable-xlarge-port-mdpi-screen.9.png" />
        <splash density="xlarge-port-hdpi" src="resources/android/splash/drawable-xlarge-port-hdpi-screen.9.png" />
        <splash density="xlarge-port-xhdpi" src="resources/android/splash/drawable-xlarge-port-xhdpi-screen.9.png" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="resources/ios/splash/Default@2x~iphone~anyany.png" />
        <splash src="resources/ios/splash/Default@2x~iphone~comany.png" />
        <splash src="resources/ios/splash/Default@2x~iphone~comcom.png" />
        <splash src="resources/ios/splash/Default@3x~iphone~anyany.png" />
        <splash src="resources/ios/splash/Default@3x~iphone~anycom.png" />
        <splash src="resources/ios/splash/Default@3x~iphone~comany.png" />
        <splash src="resources/ios/splash/Default@2x~ipad~anyany.png" />
        <splash src="resources/ios/splash/Default@2x~ipad~comany.png" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
    </platform>
</widget>
