<p class="text-center sidemenu-modal-content-title">PROTECCIÓN DE SUS DATOS PERSONALES<br>
La presente declaración de confidencialidad le ofrece información acerca del tratamiento y la protección de sus datos personales.</p>
<p class="sidemenu-modal-content-title">1. Introducción</p>
<p>La Comisión Europea (en lo sucesivo, la «Comisión») está comprometida con la protección de sus datos personales y el respeto de su privacidad. La Comisión recoge y trata datos personales con arreglo al <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32018R1725')">Reglamento (UE) 2018/1725</a> del Parlamento Europeo y del Consejo, de 23 de octubre de 2018, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales por las instituciones, órganos y organismos de la Unión, y a la libre circulación de estos datos, y por el que se deroga el Reglamento (CE) n.º 45/2001.
<br>La presente declaración de confidencialidad explica el motivo del tratamiento de sus datos personales, el modo en que recogemos y tratamos todos los datos personales facilitados y cómo garantizamos su protección, la manera en que se usa dicha información y sus derechos al respecto. También indica los datos de contacto del responsable del tratamiento de datos al que puede dirigirse para ejercer sus derechos, del delegado de protección de datos y del Supervisor Europeo de Protección de Datos.
<br>A continuación se presenta la información relativa a la operación de tratamiento de datos «Aplicación sobre especies exóticas invasoras en Europa» llevada a cabo por la Unidad de Economía Digital del Centro Común de Investigación (en lo sucesivo, la «JRC.B.6»).
</p>

<p class="sidemenu-modal-content-title">2. ¿Por qué y cómo tratamos sus datos personales?</p>
<p>Finalidad de la operación de tratamiento: La JRC.B.6 recoge y utiliza su información personal para establecer la Aplicación sobre especies exóticas invasoras en Europa. Esta aplicación permite a la ciudadanía recibir y compartir información relativa a las especies exóticas invasoras (EEI) en Europa.
<br>Ofrece información detallada sobre distintas EEI [especificadas en el Reglamento (UE) n.º 1143/2014 sobre especies exóticas invasoras] que se consideran de interés para toda la Unión Europea.
<br>Los usuarios pueden registrar imágenes de posibles especies exóticas invasoras, junto con información complementaria sobre su observación. Una vez validados, los datos se introducirán en el sistema EASIN (Red europea de información sobre las especies exóticas).
<br>Sus datos personales no se utilizarán en ningún proceso de toma de decisiones automatizado, ni tampoco para la elaboración de perfiles.
</p>

<p class="sidemenu-modal-content-title">3. ¿Cuál es la base jurídica del tratamiento de sus datos personales?</p>
<p>Para los administradores de la Aplicación sobre especies exóticas invasoras en Europa:
<br>Tratamos sus datos personales porque, de conformidad con el artículo 5, apartado 1, letra a), del Reglamento (UE) 2018/1725, el tratamiento es necesario para el cumplimiento de una función realizada en interés público.
<br>
<br>Para los usuarios de la Aplicación sobre especies exóticas invasoras en Europa:
<br>Tratamos sus datos personales porque, de conformidad con el artículo 5, apartado 1, letra d), del Reglamento (UE) 2018/1725, ha prestado usted su consentimiento para el tratamiento de sus datos personales para uno o varios fines específicos.
<br>No tratamos categorías especiales de datos personales, por lo que el artículo 10 del Reglamento (UE) 2018/1725 no resulta de aplicación.
</p>

<p class="sidemenu-modal-content-title">4. ¿Qué datos personales recogemos y tratamos?</p>
<p>Para llevar a cabo esta operación de tratamiento, la JRC.B.6 recoge datos personales de las categorías siguientes:
<br>Los datos personales recogidos son:
<ul>
	<li>Para los administradores de la Aplicación sobre especies exóticas invasoras en Europa:</li>
	1. Nombre de usuario de EU Login
</ul>
La consignación de sus datos personales es obligatoria para cumplir un requisito contractual. Si no facilita sus datos personales, no podremos cumplir nuestras obligaciones.
<ul>
	<li>Para los usuarios de la Aplicación sobre especies exóticas invasoras en Europa:</li>
	1. A través del mecanismo de conexión de EASIN: dirección de correo electrónico
	<br>&nbsp;&nbsp;a. Con conexión mediante EU Login: dirección de correo electrónico 
	<br>&nbsp;&nbsp;b. Con conexión mediante Facebook: dirección de correo electrónico (si el usuario la ha facilitado) y nombre de usuario de Facebook
	<br>&nbsp;&nbsp;c. Con conexión mediante Twitter: nombre de usuario de Twitter
	<br>&nbsp;&nbsp;d. Con conexión mediante LinkedIn: dirección de correo electrónico
	<br>&nbsp;&nbsp;e. Con conexión mediante Strava: nombre de usuario de Strava

	<br>
	<br>2.	A través de la Aplicación sobre especies exóticas invasoras en Europa para las observaciones: Geolocalización (coordenadas geográficas), imágenes, comentario (opcional).
</ul>
<br>Los datos de identificación, cuando proceda, son gestionados por los mecanismos de conexión.
<br>El interesado facilita los datos con carácter voluntario.
</p>

<p class="sidemenu-modal-content-title">5. ¿Durante cuánto tiempo conservamos sus datos personales?</p>
<p>Para los administradores de la Aplicación sobre especies exóticas invasoras en Europa:
<br>La JRC.B.6 únicamente conserva sus datos personales durante el tiempo en el que esté trabajando en la Unidad como administrador/a de especies exóticas invasoras. Se suprimirán automáticamente cuando ya no esté trabajando en estas actividades o en esta función.
<br>
<br>Para los usuarios de la Aplicación sobre especies exóticas invasoras en Europa:
<br>La JRC.B.6 solo conserva sus datos personales durante el tiempo necesario para cumplir el propósito de su recogida o posterior tratamiento, es decir, un año tras la última sesión activa del usuario.
<br>Los usuarios registrados disponen de acceso protegido mediante contraseña a su perfil y pueden, en todo momento: a) cancelar su inscripción; b) actualizar su perfil; y c) solicitar darse de baja de determinados grupos de interés y/o publicaciones. En algunos casos, los identificadores de usuario que no hayan sido utilizados durante un período determinado se eliminan automáticamente del sistema.
</p>

<p class="sidemenu-modal-content-title">6. ¿Cómo protegemos y salvaguardamos sus datos personales?</p>
<p>
Todos los datos en formato electrónico (correos electrónicos, documentos, bases de datos, lotes de datos cargados, etc.) se almacenan en los servidores de la Comisión Europea. Todas las operaciones de tratamiento se llevan a cabo de conformidad con la <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32017D0046')">Decisión (UE, Euratom) 2017/46 de la Comisión</a>, de 10 de enero de 2017, sobre la seguridad de los sistemas de información y comunicación de la Comisión Europea.
<br>Para proteger sus datos personales, la Comisión ha establecido una serie de medidas técnicas y organizativas. Habida cuenta de la naturaleza de los datos personales tratados y del riesgo que presenta su tratamiento, las medidas técnicas se refieren, entre otras cosas, a la seguridad en línea, al riesgo de pérdida de datos, a la alteración de estos y al acceso no autorizado. Entre las medidas organizativas se incluye permitir el acceso a los datos personales únicamente a las personas autorizadas que presenten una necesidad legítima de conocerlos a efectos de la operación de tratamiento.
</p>

<p class="sidemenu-modal-content-title">7. ¿Quién tiene acceso a sus datos personales y a quién se comunican?</p>
<p>
Se concede acceso a sus datos personales al personal de la Comisión encargado de la operación de tratamiento y al personal autorizado con arreglo al principio de la «necesidad de conocer». Dicho personal está obligado a respetar acuerdos de confidencialidad legales y, en caso necesario, otros acuerdos adicionales.
<br>No se pondrá directamente a disposición de sujetos situados fuera de la UE o del EEE ningún dato personal. Sin embargo, la interfaz web de la aplicación es de acceso público; por lo tanto, las actividades públicas de los usuarios serán visibles desde cualquier ubicación geográfica sin restricciones.
<br>La información que recogemos no se facilitará a ningún tercero, salvo en la medida y para los fines que marque la ley.
</p>

<p class="sidemenu-modal-content-title">8. ¿Cuáles son sus derechos y cómo puede ejercerlos?</p>
Como «interesado» a efectos del capítulo III (artículos 14-25) del Reglamento (UE) 2018/1725, tiene usted derechos específicos, en particular el derecho de acceso, rectificación o supresión de sus datos personales y el derecho a restringir su tratamiento. En su caso, también tiene derecho a oponerse al tratamiento de los datos y derecho a la portabilidad de estos.
<br>Puede ejercer sus derechos poniéndose en contacto con el responsable del tratamiento de datos o, en caso de conflicto, con el delegado de protección de datos. Si fuera necesario, también puede dirigirse al Supervisor Europeo de Protección de Datos. La información de contacto de todos ellos figura en el punto 9.
<br>Cuando desee ejercer sus derechos en el marco de una o varias operaciones de tratamiento específicas, incluya la descripción de dichas operaciones en su solicitud, esto es, las referencias de registro correspondientes, tal como se especifica en el punto 10.
<br>
<br>Para los administradores de la Aplicación sobre especies exóticas invasoras en Europa:
<br>Tiene derecho a oponerse al tratamiento de sus datos personales, que se lleva a cabo legalmente de conformidad con el artículo 5, apartado 1, letra a).
<br>
<br>Para los usuarios de la Aplicación sobre especies exóticas invasoras en Europa:
<br>Ha consentido en facilitar a la JRC.B.6 sus datos personales para la presente operación de tratamiento. Puede retirar su consentimiento en cualquier momento enviando una notificación al respecto al responsable del tratamiento de datos. Esto no afectará a la licitud del tratamiento efectuado con anterioridad a la retirada del consentimiento.
</p>

<p class="sidemenu-modal-content-title">9. Información de contacto</p>
<p>
Responsable del tratamiento de datos
<br>Si desea ejercer sus derechos con arreglo al <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32018R1725')">Reglamento (UE) 2018/1725</a> si quiere plantear sus observaciones, preguntas o dudas; o si desea presentar una reclamación relativa a la recogida y el uso de sus datos personales, no dude en ponerse en contacto con el responsable del tratamiento de datos en la dirección siguiente: <a ng-click="openMailLinks('JRC-B6-DP@ec.europa.eu')">JRC-B6-DP@ec.europa.eu</a>.
<br>
<br>Delegado de protección de datos de la Comisión  
<br>Puede ponerse en contacto con el delegado de protección de datos (<a ng-click="openMailLinks('DATA-PROTECTION-OFFICER@ec.europa.eu')">DATA-PROTECTION-OFFICER@ec.europa.eu</a>) en relación con el tratamiento de sus datos personales con arreglo al <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32018R1725')">Reglamento (UE) 2018/1725</a>.
<br>
<br>Supervisor Europeo de Protección de Datos (SEPD)
<br>Si considera que, como consecuencia del tratamiento de sus datos personales por el responsable del tratamiento de datos, se han infringido los derechos que le asisten en virtud del <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32018R1725')">Reglamento (UE) 2018/1725</a>, tiene derecho a recurrir (esto es, presentar una reclamación) ante el Supervisor Europeo de Protección de Datos (<a ng-click="openMailLinks('edps@edps.europa.eu')">edps@edps.europa.eu</a>).
</p>

<p class="sidemenu-modal-content-title">10. ¿Dónde puede encontrar información más detallada?</p>
<p>
El delegado de protección de datos (DPD) de la Comisión publica el registro de todas las operaciones de tratamiento de datos personales realizadas por la Comisión que se han documentado y le han sido notificadas. Puede acceder al registro a través del siguiente enlace: <a href="#" ng-click="openExternalLinks($event,'https://ec.europa.eu/dpo-register')">https://ec.europa.eu/dpo-register</a>.
<br>La presente operación de tratamiento específica se ha incluido en el registro público del delegado de protección de datos con la siguiente referencia de registro: DPR-EC-00989 Invasive Alien Species Europe App.
</p>
<br>