<ion-view id="about">
    <ion-nav-bar class="header about" align-title="center">
        <ion-nav-back-button class="customBackButton">
        </ion-nav-back-button>
        <ion-nav-title>
            {{'ABOUT_TITLE' | translate}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button id="customMenuButton" class="button button-icon ion-navicon customMenuButton" ng-click='changeMainMenu()'>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true" padding="false" ng-style="appCtrl.accessibilitySpecial">
        <div class="row center aboutText" ng-style="appCtrl.accessibilitySpecial">
            <div class="col" ng-style="appCtrl.accessibilityFont"> <!--  bind-unsafe-html="dynamicContent" -->
            	Invasive Alien Species Europe v{{app_version.version}}<br/>
            	EASIN Catalog v{{last_version.catalog}}-{{last_version.version}}<br/>
            	<br/>
            	<p ng-bind-html="dynamicContent"></p>
            </div>
        </div>
    </ion-content>

</ion-view>
