<p class="text-center sidemenu-modal-content-title">ΠΡΟΣΤΑΣΙΑ ΤΩΝ ΔΕΔΟΜΕΝΩΝ ΣΑΣ ΠΡΟΣΩΠΙΚΟΥ ΧΑΡΑΚΤΗΡΑ<br>
Η παρούσα δήλωση περί απορρήτου περιλαμβάνει πληροφορίες σχετικά με την επεξεργασία και την προστασία των δεδομένων σας προσωπικού χαρακτήρα.</p>
<p class="sidemenu-modal-content-title">1. Εισαγωγή</p>
<p>Η Ευρωπαϊκή Επιτροπή (στο εξής: Επιτροπή) δεσμεύεται να προστατεύει τα δεδομένα σας προσωπικού χαρακτήρα και να σέβεται την ιδιωτική σας ζωή. Η Επιτροπή συλλέγει και επεξεργάζεται περαιτέρω δεδομένα προσωπικού χαρακτήρα σύμφωνα με τον <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/EL/TXT/?uri=CELEX:32018R1725')"> κανονισμό (ΕΕ) 2018/1725</a> του Ευρωπαϊκού Κοινοβουλίου και του Συμβουλίου, της 23ης Οκτωβρίου 2018, για την προστασία των φυσικών προσώπων έναντι της επεξεργασίας δεδομένων προσωπικού χαρακτήρα από τα θεσμικά και λοιπά όργανα και τους οργανισμούς της Ένωσης και την ελεύθερη κυκλοφορία των δεδομένων αυτών [με τον οποίο καταργείται ο κανονισμός (ΕΚ) αριθ. 45/2001].
<br>Στην παρούσα δήλωση περί απορρήτου επεξηγείται ο λόγος για τον οποίο υποβάλλονται σε επεξεργασία τα δεδομένα σας προσωπικού χαρακτήρα, ο τρόπος συλλογής, διαχείρισης και προστασίας όλων των παρεχόμενων δεδομένων προσωπικού χαρακτήρα, ο τρόπος με τον οποίο χρησιμοποιούνται οι εν λόγω πληροφορίες, καθώς και τα δικαιώματα που έχετε ως προς τα δεδομένα προσωπικού χαρακτήρα που σας αφορούν. Επίσης, διευκρινίζονται τα στοιχεία επικοινωνίας του υπευθύνου επεξεργασίας δεδομένων στον οποίο μπορείτε να απευθυνθείτε για να ασκήσετε τα δικαιώματά σας, καθώς και του υπευθύνου προστασίας δεδομένων και του Ευρωπαίου Επόπτη Προστασίας Δεδομένων.
<br>Οι πληροφορίες σχετικά με την πράξη επεξεργασίας της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ» που διενεργείται από τη Διοικητική μονάδα Ψηφιακής Οικονομίας του Κοινού Κέντρου Ερευνών (στο εξής: JRC.B.6) παρέχονται παρακάτω.
</p>

<p class="sidemenu-modal-content-title">2. Γιατί και πώς επεξεργαζόμαστε τα δεδομένα σας προσωπικού χαρακτήρα;</p>
<p>Σκοπός της πράξης επεξεργασίας: Η JRC.B.6 συλλέγει και χρησιμοποιεί τα στοιχεία σας προσωπικού χαρακτήρα για τη δημιουργία της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ». Αυτή η εφαρμογή δίνει τη δυνατότητα στο ευρύ κοινό να λαμβάνει και να μοιράζεται πληροφορίες σχετικά με τα χωροκατακτητικά ξένα είδη στην Ευρώπη.
<br>Παρέχει αναλυτικές πληροφορίες σχετικά με διάφορα χωροκατακτητικά ξένα είδη [ο αριθμός των ειδών προσδιορίζεται στον κανονισμό (ΕΕ) 1143/2014 για τα χωροκατακτητικά ξένα είδη] που αφορούν το σύνολο της Ευρωπαϊκής Ένωσης.
<br>Οι χρήστες μπορούν να καταχωρίζουν φωτογραφίες πιθανών χωροκατακτητικών ξένων ειδών, συνοδευόμενες από συμπληρωματικές πληροφορίες σχετικά με την παρατήρησή τους. Αφού επικυρωθούν τα δεδομένα, εισάγονται στο σύστημα EASIN (ευρωπαϊκό δίκτυο πληροφοριών για ξένα είδη).
<br>Τα δεδομένα σας προσωπικού χαρακτήρα δεν θα χρησιμοποιηθούν για αυτοματοποιημένη λήψη αποφάσεων, ούτε για την κατάρτιση προφίλ.
</p>

<p class="sidemenu-modal-content-title">3. Σε ποια νομική βάση επεξεργαζόμαστε τα δεδομένα σας προσωπικού χαρακτήρα;</p>
<p>Όσον αφορά τους διαχειριστές της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Επεξεργαζόμαστε τα δεδομένα σας προσωπικού χαρακτήρα, διότι, σύμφωνα με το άρθρο 5 παράγραφος 1 στοιχείο α) του κανονισμού (ΕΕ) 2018/1725, η επεξεργασία είναι απαραίτητη για την εκπλήρωση καθήκοντος που εκτελείται προς το δημόσιο συμφέρον.
<br>
<br>Όσον αφορά τους χρήστες της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Επεξεργαζόμαστε τα δεδομένα σας προσωπικού χαρακτήρα, διότι, σύμφωνα με το άρθρο 5 παράγραφος 1 στοιχείο δ) του κανονισμού (ΕΕ) 2018/1725, έχετε συναινέσει στην επεξεργασία των δεδομένων σας προσωπικού χαρακτήρα για έναν ή περισσότερους συγκεκριμένους σκοπούς.
<br>Δεν επεξεργαζόμαστε ειδικές κατηγορίες δεδομένων προσωπικού χαρακτήρα, επομένως, δεν εφαρμόζεται το άρθρο 10 του κανονισμού (ΕΕ) 2018/1725.
</p>

<p class="sidemenu-modal-content-title">4. Ποια δεδομένα προσωπικού χαρακτήρα συλλέγουμε και υποβάλλουμε σε περαιτέρω επεξεργασία;</p>
<p>Για τους σκοπούς της παρούσας πράξης επεξεργασίας, η JRC.B.6 συλλέγει τις ακόλουθες κατηγορίες δεδομένων προσωπικού χαρακτήρα:
<br>Τα προσωπικά δεδομένα που συλλέγονται είναι τα εξής:
<ul>
	<li>Όσον αφορά τους διαχειριστές της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:</li>
	1.Όνομα χρήστη EU Login:
</ul>
Η παροχή των δεδομένων σας προσωπικού χαρακτήρα είναι υποχρεωτική για την τήρηση συμβατικής απαίτησης. Εάν δεν παράσχετε τα δεδομένα σας προσωπικού χαρακτήρα, δεν θα είμαστε σε θέση να εκπληρώσουμε τις υποχρεώσεις μας.
<ul>
	<li>Όσον αφορά τους χρήστες της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:</li>
	1. Για τη σύνδεση μέσω EADIN: διεύθυνση ηλεκτρονικού ταχυδρομείου
	<br>&nbsp;&nbsp;α. Για τη σύνδεση μέσω EU Login: διεύθυνση ηλεκτρονικού ταχυδρομείου  
	<br>&nbsp;&nbsp;β. Για τη σύνδεση μέσω Facebook: διεύθυνση ηλεκτρονικού ταχυδρομείου (εάν καθίσταται διαθέσιμη από τον χρήστη) και αναγνωριστικό χρήστη Facebook
	<br>&nbsp;&nbsp;γ. Για τη σύνδεση μέσω Twitter: αναγνωριστικό χρήστη Twitter  
	<br>&nbsp;&nbsp;δ. Για τη σύνδεση μέσω LinkedIn: διεύθυνση ηλεκτρονικού ταχυδρομείου
	<br>&nbsp;&nbsp;ε. Για τη σύνδεση μέσω Strava: αναγνωριστικό χρήστη Strava

	<br>
	<br>2. Για παρατηρήσεις μέσω της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»: Γεωγραφική θέση (γεωγραφικές συντεταγμένες), Εικόνες, Σχόλια (προαιρετικά).
</ul>
<br>Η διαχείριση των δεδομένων ταυτοποίησης, κατά περίπτωση, πραγματοποιείται από τους μηχανισμούς σύνδεσης.
<br>Το υποκείμενο των δεδομένων παρέχει τα δεδομένα οικειοθελώς.
</p>

<p class="sidemenu-modal-content-title">5. Για πόσο χρονικό διάστημα διατηρούμε τα δεδομένα σας προσωπικού χαρακτήρα;</p>
<p>Όσον αφορά τους διαχειριστές της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Η JRC.B.6 διατηρεί τα δεδομένα σας προσωπικού χαρακτήρα για όσο χρονικό διάστημα εργάζεστε στη Διοικητική μονάδα ως διαχειριστής χωροκατακτητικών ξένων ειδών. Διαγράφονται αυτόματα όταν δεν εργάζεστε πλέον στο πλαίσιο αυτών των δραστηριοτήτων/αυτού του ρόλου.
<br>
<br>Όσον αφορά τους χρήστες της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Η JRC.B.6 διατηρεί τα δεδομένα σας προσωπικού χαρακτήρα για όσο χρονικό διάστημα απαιτείται για την εκπλήρωση του σκοπού της συλλογής ή περαιτέρω επεξεργασίας τους, δηλαδή 1 έτος από την τελευταία ενεργή σύνδεση του χρήστη.
<br>Οι εγγεγραμμένοι χρήστες διαθέτουν άμεση διαδικτυακή πρόσβαση στο προφίλ τους προστατευόμενη με κωδικό πρόσβασης και μπορούν ανά πάσα στιγμή: α) να ακυρώσουν την εγγραφή τους· β) να επικαιροποιήσουν το προφίλ τους· και γ) να ζητήσουν απεγγραφή από συγκεκριμένες ομάδες ενδιαφέροντος και / ή δημοσιεύσεις. Σε ορισμένες περιπτώσεις, αναγνωριστικά χρήση που δεν χρησιμοποιούνται για ορισμένο χρονικό διάστημα διαγράφονται αυτόματα από το σύστημα.
</p>

<p class="sidemenu-modal-content-title">6. Πώς προστατεύουμε και φυλάσσουμε τα δεδομένα σας προσωπικού χαρακτήρα;</p>
<p>
Όλα τα δεδομένα προσωπικού χαρακτήρα σε ηλεκτρονική μορφή (μηνύματα ηλεκτρονικού ταχυδρομείου, έγγραφα, βάσεις δεδομένων, δέσμες δεδομένων που τηλεφορτώθηκαν κ.λπ.) αποθηκεύονται στους εξυπηρετητές της Ευρωπαϊκής Επιτροπής. Όλες οι πράξεις επεξεργασίας διενεργούνται σύμφωνα με την <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/EL/TXT/?uri=CELEX:32017D0046')">απόφαση (ΕΕ, Ευρατόμ) 2017/46 της Επιτροπής</a>, της 10ης Ιανουαρίου 2017, σχετικά με την ασφάλεια των συστημάτων επικοινωνίας και πληροφοριών στην Ευρωπαϊκή Επιτροπή.
<br>Για την προστασία των δεδομένων σας προσωπικού χαρακτήρα, η Επιτροπή εφαρμόζει σειρά τεχνικών και οργανωτικών μέτρων. Τα τεχνικά μέτρα περιλαμβάνουν κατάλληλες δράσεις για την αντιμετώπιση των ζητημάτων ασφάλειας στο διαδίκτυο και των κινδύνων απώλειας ή αλλοίωσης δεδομένων ή μη εξουσιοδοτημένης πρόσβασης σε δεδομένα, λαμβανομένων υπόψη του κινδύνου που παρουσιάζει η επεξεργασία και της φύσης των δεδομένων προσωπικού χαρακτήρα που υποβάλλονται σε επεξεργασία. Τα οργανωτικά μέτρα περιλαμβάνουν τον περιορισμό της πρόσβασης στα δεδομένα προσωπικού χαρακτήρα αποκλειστικά και μόνο σε εξουσιοδοτημένα πρόσωπα που είναι θεμιτά αναγκαίο να τα γνωρίζουν για τους σκοπούς της παρούσας πράξης επεξεργασίας.
</p>

<p class="sidemenu-modal-content-title">7. Ποιοι έχουν πρόσβαση στα δεδομένα σας προσωπικού χαρακτήρα και σε ποιους κοινοποιούνται;</p>
<p>
Πρόσβαση στα δεδομένα σας προσωπικού χαρακτήρα παρέχεται στο προσωπικό της Επιτροπής που είναι αρμόδιο για την εκτέλεση της παρούσας πράξης επεξεργασίας και σε εξουσιοδοτημένο προσωπικό σύμφωνα με την αρχή της «αναγκαίας γνωστοποίησης». Το εν λόγω προσωπικό δεσμεύεται από εκ του νόμου προβλεπόμενες και, όταν απαιτείται, από πρόσθετες συμφωνίες τήρησης του απορρήτου.
<br>Τα δεδομένα προσωπικού χαρακτήρα δεν θα καταστούν άμεσα διαθέσιμα σε οντότητες εκτός της ΕΕ ή του ΕΟΧ. Ωστόσο, το περιβάλλον εργασίας της διαδικτυακής εφαρμογής είναι δημόσια προσβάσιμο. Επομένως, οι δημόσιες δραστηριότητες των χρηστών θα είναι ορατές από οποιαδήποτε γεωγραφική θέση χωρίς περιορισμούς.
<br>Οι πληροφορίες που συλλέγουμε δεν κοινοποιούνται σε κανέναν τρίτο, παρ’ εκτός στον βαθμό και για τον σκοπό που ενδεχομένως επιβάλλεται εκ του νόμου.
</p>

<p class="sidemenu-modal-content-title">8. Ποια είναι τα δικαιώματά σας και πώς μπορείτε να τα ασκήσετε;</p>
Ως «υποκείμενο των δεδομένων» έχετε συγκεκριμένα δικαιώματα βάσει του κεφαλαίου ΙΙΙ (άρθρα 14-25) του κανονισμού (ΕΕ) 2018/1725, ιδίως το δικαίωμα πρόσβασης, διόρθωσης ή διαγραφής των δεδομένων σας προσωπικού χαρακτήρα και το δικαίωμα περιορισμού της επεξεργασίας των δεδομένων αυτών. Κατά περίπτωση, έχετε επίσης το δικαίωμα να αντιταχθείτε στην επεξεργασία ή το δικαίωμα φορητότητας των δεδομένων.
<br>Μπορείτε να ασκήσετε τα δικαιώματά σας επικοινωνώντας με τον υπεύθυνο επεξεργασίας δεδομένων ή, σε περίπτωση διαφωνίας μαζί του, με τον υπεύθυνο προστασίας δεδομένων. Εάν είναι αναγκαίο, μπορείτε επίσης να απευθυνθείτε στον Ευρωπαίο Επόπτη Προστασίας Δεδομένων. Τα στοιχεία επικοινωνίας τους παρέχονται στο σημείο 9 κατωτέρω.
<br>Εάν επιθυμείτε να ασκήσετε τα δικαιώματά σας στο πλαίσιο μίας ή περισσότερων συγκεκριμένων πράξεων επεξεργασίας, περιγράψτε τις πράξεις στην αίτησή σας (δηλ. παραθέστε τα στοιχεία αναφοράς της καταχώρισης ή των καταχωρίσεων, όπως ορίζεται στο σημείο 10 κατωτέρω).
<br>
<br>Όσον αφορά τους διαχειριστές της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Έχετε το δικαίωμα να αντιταχθείτε στην επεξεργασία των δεδομένων σας προσωπικού χαρακτήρα, η οποία εκτελείται νόμιμα σύμφωνα με το άρθρο 5 παράγραφος 1 στοιχείο α).
<br>
<br>Όσον αφορά τους χρήστες της εφαρμογής «Χωροκατακτητικά ξένα είδη ΕΕ»:
<br>Έχετε συναινέσει στην παροχή των δεδομένων σας προσωπικού χαρακτήρα στην JRC.B.6 για την παρούσα πράξη επεξεργασίας. Μπορείτε να αποσύρετε τη συγκατάθεσή σας ανά πάσα στιγμή με κοινοποίηση στον υπεύθυνο επεξεργασίας δεδομένων. Η απόσυρση της συγκατάθεσης δεν θίγει τη νομιμότητα της επεξεργασίας που πραγματοποιήθηκε πριν από την απόσυρση.
</p>

<p class="sidemenu-modal-content-title">9. Στοιχεία επικοινωνίας</p>
<p>
Υπεύθυνος επεξεργασίας δεδομένων 
<br>Αν επιθυμείτε να ασκήσετε τα δικαιώματά σας βάσει <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/EL/TXT/?uri=CELEX:32018R1725')">του κανονισμού (ΕΕ) 2018/1725</a>, ή αν έχετε παρατηρήσεις, ερωτήματα ή ανησυχίες, ή αν θέλετε να υποβάλετε καταγγελία σχετικά με τη συλλογή και τη χρήση των δεδομένων σας προσωπικού χαρακτήρα, μπορείτε να επικοινωνήσετε με τον υπεύθυνο επεξεργασίας δεδομένων στη διεύθυνση ηλεκτρονικού ταχυδρομείου <a ng-click="openMailLinks('JRC-B6-DP@ec.europa.eu')">JRC-B6-DP@ec.europa.eu</a>.
<br>
<br>Υπεύθυνος προστασίας δεδομένων (ΥΠΔ) της Επιτροπής 
<br>Μπορείτε να επικοινωνήσετε με τον υπεύθυνο προστασίας δεδομένων (<a ng-click="openMailLinks('DATA-PROTECTION-OFFICER@ec.europa.eu')">DATA-PROTECTION-OFFICER@ec.europa.eu</a>) σχετικά με ζητήματα που αφορούν την επεξεργασία των δεδομένων σας προσωπικού χαρακτήρα βάσει <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/EL/TXT/?uri=CELEX:32018R1725')">του κανονισμού (ΕΕ) 2018/1725</a>.
<br>
<br>Ευρωπαίος Επόπτης Προστασίας Δεδομένων (ΕΕΠΔ)
<br>Αν θεωρείτε ότι τα δικαιώματά σας βάσει <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/EL/TXT/?uri=CELEX:32018R1725')">του κανονισμού (ΕΕ) 2018/1725</a> έχουν παραβιαστεί λόγω της επεξεργασίας των δεδομένων σας προσωπικού χαρακτήρα από τον υπεύθυνο επεξεργασίας δεδομένων, έχετε το δικαίωμα να προσφύγετε (δηλ. μπορείτε να υποβάλετε καταγγελία) στον Ευρωπαίο Επόπτη Προστασίας Δεδομένων (<a ng-click="openMailLinks('edps@edps.europa.eu')">edps@edps.europa.eu</a>).
</p>

<p class="sidemenu-modal-content-title">10. Πού μπορείτε να βρείτε αναλυτικότερες πληροφορίες;</p>
<p>
Ο υπεύθυνος προστασίας δεδομένων της Επιτροπής δημοσιεύει το μητρώο όλων των διενεργούμενων από την Επιτροπή πράξεων επεξεργασίας δεδομένων προσωπικού χαρακτήρα οι οποίες έχουν τεκμηριωθεί και του έχουν κοινοποιηθεί. Πρόσβαση στο εν λόγω μητρώο παρέχεται μέσω του ακόλουθου συνδέσμου: <a href="#" ng-click="openExternalLinks($event,'https://ec.europa.eu/dpo-register')">https://ec.europa.eu/dpo-register</a>.
<br>Η παρούσα πράξη επεξεργασίας έχει συμπεριληφθεί στο δημόσιο μητρώο του υπευθύνου προστασίας δεδομένων με τα ακόλουθα στοιχεία αναφοράς: DPR-EC-00989 Invasive Alien Species Europe App.
</p>
<br>