<p>Diese Anwendung unterliegt einer Verzichtserklärung, einem Urheberrechtshinweis, und Regeln zum Schutz persönlicher Daten.</p><br>

<p class="sidemenu-modal-content-title">Verzichtserklärung</p><br>
<p><a ng-click="closeModalLegalNotice(); showModalDisclaimer()">Siehe Verzichtserklärung</a></p><br/>

<p class="sidemenu-modal-content-title">Urheberrechtshinweis</p><br>
<p>© Europäische Union, 1995-2016</p>
<p>Die Wiederverwendung ist genehmigt, sofern die Quelle zitiert wird. Die Wiederverwendungspolitik der Europäischen Kommission wird durch einen Beschluss <a href="#" ng-click="openExternalLinks('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2011:330:0039:0042:EN:PDF')">2011/833/EU vom 12. Dezember 2011 umgesetzt.</a></p><br>

<p>Der allgemeine Grundsatz der Wiederverwendung kann Bedingungen unterliegen, die in einzelnen Urheberrechtshinweisen festgelegt werden können. Daher wird den Benutzern geraten, sich auf die Copyright-Hinweise der einzelnen Webseiten zu beziehen, die unter Europa und den einzelnen Dokumenten geführt werden. Die Wiederverwendung gilt nicht für Dokumente, die geistigen Eigentumsrechten Dritter unterliegen.</p>

<p>Der Quellcode dieser Anwendung ist Open Source und lizenziert unter der Open-Source-Lizenz für die Europäische Union (englisch European Union Public Licence, EUPL), siehe auch <a href="#" ng-click="openExternalLinks('http://digitalearthlab.jrc.ec.europa.eu/mygeoss/index.cfm')">http://digitalearthlab.jrc.ec.europa.eu/mygeoss/index.cfm</a></p><br>

<p class="sidemenu-modal-content-title">Schutz persönlicher Daten</p><br>

<p>Die Europäische Union setzt sich für die Privatsphäre der Nutzer ein. <br/>
Die Richtlinie über den &quot;zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten durch die Organe und Einrichtungen der Gemeinschaft und zum freien Datenverkehr&quot; stützt sich auf <a ng-click="openExternalLinks('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2001:008:0001:0022:EN:PDF')" >die Verordnung (EG) Nr. 45/2001 </a> des Europäischen Parlaments und des Rates vom 18. Dezember 2000.</p><br>

<p>Die von dieser Anwendung gesammelten persönlichen Daten werden entsprechend der Datenschutzerklärung behandelt. <a ng-click="closeModalLegalNotice(); showModalPrivacy()">Datenschutzerklärung</a></p><br>