<p>L'app è soggetta a una clausola di esclusione della responsabilità, a un avviso sul copyright e a norme riguardanti la protezione dei dati personali.</p><br>

<p class="sidemenu-modal-content-title">Clausola di esclusione della responsabilità</p><br>
<p><a ng-click="closeModalLegalNotice(); showModalDisclaimer()">Cfr. la clausola di esclusione della responsabilità</a></p><br/>

<p class="sidemenu-modal-content-title">Avviso sul copyright</p><br>
<p>© Unione europea, 1995-2021</p><br>
<p>La politica della Commissione in materia è attuata mediante <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/IT/TXT/?qid=1590651113577&uri=CELEX:32011D0833')">la decisione del 12 dicembre 2011 sul riutilizzo dei documenti della Commissione</a>.</p><br>
<p>Salvo diversa indicazione (singoli avvisi sul copyright, ecc.), in questo sito web i contenuti di proprietà dell'UE sono soggetti alla <a href="#" ng-click="openExternalLinks($event,'https://creativecommons.org/licenses/by/4.0/')">licenza Creative Commons Attribution 4.0 International (CC BY 4.0)</a>. Ciò significa che il riutilizzo è autorizzato con indicazione della fonte e di eventuali modifiche.</p><br>
<p>Se un determinato contenuto descrive soggetti identificabili o include opere di terzi, verificare se sussistono gli ulteriori diritti necessari. Per utilizzare o riprodurre contenuti che non appartengono all'UE, chiedere l'autorizzazione direttamente ai titolari dei diritti. Software o documenti tutelati da diritti di proprietà industriale, come brevetti, marchi, disegni e modelli registrati, loghi e nomi, sono esclusi dalla politica della Commissione in materia di riutilizzo e non sono concessi in licenza.</p><br>
<p>Il codice di questa app è open source e soggetto a licenza pubblica dell'UE, cfr. <a href="#" ng-click="openExternalLinks($event,'https://github.com/ec/jrc/invasive-alien-species-europe-app')">https://github.com/ec/jrc/invasive-alien-species-europe-app</a>.</p><br>

<p class="sidemenu-modal-content-title">Politica in materia di privacy</p><br>
<p>L'Unione europea tutela la privacy degli utenti.<br>
<p>Le informazioni personali raccolte mediante la presente app sono trattate conformemente alla specifica <a ng-click="closeModalLegalNotice(); showModalPrivacy()">Informativa sulla privacy</a>.</p><br>
