<p>Questa applicazione è soggetta a un'esclusione di responsabilità, un avviso di copyright e norme in materia di protezione dei dati personali.</p><br>

<p class="sidemenu-modal-content-title">Esclusione di responsabilità</p><br>
<p><a ng-click="closeModalLegalNotice(); showModalDisclaimer()">Vedi Esclusione di responsabilità</a></p><br/>

<p class="sidemenu-modal-content-title">Avviso di copyright</p><br>
<p>© Unione europea, 1995-2016 </p>
<p>Il riutilizzo è autorizzato, purché sia citata la fonte. La politica di riutilizzo della Commissione europea viene implementata dalla <a href="#" ng-click="openExternalLinks('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2011:330:0039:0042:EN:PDF')">decisione del 12 dicembre 2011</a></p><br>

<p>Il principio generale di riutilizzo può essere soggetto a condizioni che potrebbero essere specificate nei singoli avvisi di copyright. Pertanto gli utenti sono invitati a consultare gli avvisi di copyright dei singoli siti web gestiti in Europa e gli avvisi di copyright dei singoli documenti. Il riutilizzo non è applicabile ai documenti soggetti a diritti di proprietà intellettuale di terzi.</p>

<p>Il codice di questa applicazione è open source e rilasciato sotto licenza GPL, si veda <a href="#" ng-click="openExternalLinks('http://digitalearthlab.jrc.ec.europa.eu/mygeoss/index.cfm')">http://digitalearthlab.jrc.ec.europa.eu/mygeoss/index.cfm</a></p><br>

<p class="sidemenu-modal-content-title">Protezione dei Dati Personali</p><br>

<p>L'Unione europea si impegna nel rispetto della privacy degli utenti. <br>
La politica relativa alla "tutela delle persone fisiche con riguardo al trattamento dei dati personali da parte delle istituzioni" si basa su <a ng-click="openExternalLinks('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2001:008:0001:0022:EN:PDF')" >regolamento (CE) N. 45/2001</a> del Parlamento europeo e del Consiglio, del 18 dicembre 2000. </p><br>

<p>I dati personali raccolti da questa applicazione sono trattati secondo la specifica <a ng-click="closeModalLegalNotice(); showModalPrivacy()">Informativa sulla Privacy</a>.</p><br>
