<p class="text-center sidemenu-modal-content-title">PROTECȚIA DATELOR DUMNEAVOASTRĂ CU CARACTER PERSONAL<br>
Prezenta declarație de confidențialitate furnizează informații referitoare la prelucrarea și protecția datelor dumneavoastră cu caracter personal.</p>
<p class="sidemenu-modal-content-title">1. Introducere</p>
<p>Comisia Europeană (denumită în continuare „Comisia”) și-a asumat angajamentul de a asigura protecția datelor dumneavoastră cu caracter personal și respectarea vieții dumneavoastră private. Comisia colectează și prelucrează date cu caracter personal în conformitate cu <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/RO/TXT/?uri=CELEX:32018R1725')">Regulamentul (UE) 2018/1725</a> al Parlamentului European și al Consiliului din 23 octombrie 2018 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal de către instituțiile, organele, oficiile și agențiile Uniunii și privind libera circulație a acestor date [de abrogare a Regulamentului (CE) nr. 45/2001].
<br>Prezenta declarație de confidențialitate explică motivele pentru care prelucrăm datele dumneavoastră cu caracter personal, modul în care colectăm, manipulăm și protejăm toate datele cu caracter personal care ne sunt furnizate, modul în care utilizăm informațiile obținute astfel și drepturile pe care le aveți în raport cu datele dumneavoastră cu caracter personal. De asemenea, în declarație se precizează informațiile de contact ale operatorului de date responsabil pe care îl puteți contacta pentru a vă exercita drepturile, ale responsabilului cu protecția datelor și ale Autorității Europene pentru Protecția Datelor.
<br>Informațiile referitoare la operațiunea de prelucrare „Invasive Alien Species Europe App” (Aplicația Specii alogene invazive), întreprinsă de Unitatea pentru economia digitală din cadrul Centrului Comun de Cercetare (denumită în continuare JRC.B.6) sunt prezentate mai jos.
</p>

<p class="sidemenu-modal-content-title">2. De ce și cum vă prelucrăm datele cu caracter personal?</p>
<p>Scopul operațiunii de prelucrare: JRC.B.6 colectează și utilizează informațiile dumneavoastră cu caracter personal pentru a crea aplicația „Invasive Alien Species Europe App”. Această aplicație permite publicului să primească și să partajeze informații despre speciile alogene invazive (SAI) din Europa.
<br>Ea furnizează detalii cu privire la diferitele specii alogene invazive (numărul speciilor specificate în Regulamentul UE 1143/2014 privind speciile alogene invazive) considerate a prezenta interes pentru întreaga Uniune Europeană.
<br>Utilizatorii pot înregistra fotografii ale unei posibile specii alogene invazive, precum și informații suplimentare cu privire la observarea acestora. Odată validate, datele vor fi introduse în sistemul EASIN (Rețeaua europeană de informare cu privire la speciile alogene).
<br>Datele dumneavoastră cu caracter personal nu vor fi utilizate pentru un proces decizional automatizat și nici pentru crearea de profiluri.
</p>

<p class="sidemenu-modal-content-title">3. Pe ce temei (temeiuri) juridic(e) ne bazăm când vă prelucrăm datele cu caracter personal?</p>
<p>Pentru administratorii aplicației „Invasive Alien Species Europe App”:
<br>Prelucrarea datelor dumneavoastră cu caracter personal este necesară deoarece, în conformitate cu articolul 5 alineatul (1) litera (a) din Regulamentul (UE) 2018/1725, prelucrarea este necesară pentru îndeplinirea unei sarcini de interes public.
<br>
<br>Pentru utilizatorii aplicației „Invasive Alien Species Europe App”:
<br>Prelucrarea datelor dumneavoastră cu caracter personal este necesară deoarece, în conformitate cu articolul 5 alineatul (1) litera (d) din Regulamentul (UE) 2018/1725, v-ați dat consimțământul pentru prelucrarea datelor dumneavoastră cu caracter personal pentru unul sau mai multe scopuri specifice.
<br>Nu se prelucrează categorii speciale de date cu caracter personal; prin urmare, nu se aplică articolul 10 din Regulamentul (UE) 2018/1725.
</p>

<p class="sidemenu-modal-content-title">4. Ce date cu caracter personal colectăm și prelucrăm ulterior?</p>
<p>Pentru a efectua această operațiune de prelucrare, JRC.B.6 colectează următoarele categorii de date cu caracter personal:
<br>Datele cu caracter personal colectate sunt:
<ul>
	<li>Pentru administratorii aplicației „Invasive Alien Species Europe App”:</li>
	1. Numele de utilizator EU Login:
</ul>
Furnizarea datelor dumneavoastră cu caracter personal este obligatorie pentru a îndeplini o cerință contractuală. Dacă nu vă furnizați datele cu caracter personal, nu vom fi în măsură să ne îndeplinim obligațiile.
<ul>
	<li>Pentru utilizatorii aplicației „Invasive Alien Species Europe App”:</li>
	1. Prin intermediul mecanismului de conectare prin EASN: Adresă de e-mail
	<br>&nbsp;&nbsp;a. Pentru mecanismul EU Login: Adresa de e-mail 
	<br>&nbsp;&nbsp;b. Pentru mecanismul de conectare prin Facebook: adresa de e-mail (dacă este pusă la dispoziție de utilizator) și ID-ul de utilizator al Facebook
	<br>&nbsp;&nbsp;c. Pentru mecanismul de conectare prin Twitter: ID-ul de utilizator Twitter 
	<br>&nbsp;&nbsp;d. Pentru mecanismul de conectare prin LinkedIn: Adresă de e-mail
	<br>&nbsp;&nbsp;e. Pentru mecanismul de conectare prin Strava: ID-ul de utilizator Strava

	<br>
	<br>2. Prin intermediul aplicației „Invasive Alien Species Europe App” pentru observațiile: Geolocație (coordonatele geografice), Imagini, Comentarii (opțional).
</ul>
<br>După caz, datele de identificare sunt gestionate prin intermediul mecanismelor de conectare.
<br>Persoana vizată furnizează datele în mod voluntar.
</p>

<p class="sidemenu-modal-content-title">5. Cât timp vă păstrăm datele cu caracter personal?</p>
<p>Pentru administratorii aplicației „Invasive Alien Species Europe App”:
<br>JRC.B.6 vă păstrează datele cu caracter personal doar în perioada în care veți lucra în cadrul unității ca administrator Specii alogene invazive. Datele se șterg automat atunci când nu mai desfășurați aceste activități/nu mai lucrați în cadrul acestui rol.
<br>
<br>Pentru utilizatorii aplicației „Invasive Alien Species Europe App”:
<br>JRC.B.6 vă păstrează datele cu caracter personal numai în perioada necesară îndeplinirii scopului de colectare sau de prelucrare ulterioară, adică 1 an de la ultima conectare activă a utilizatorului.
<br>Utilizatorii înregistrați dispun de un acces web direct la propriul profil, protejat printr-o parolă, și pot oricând: (a) să-și anuleze înregistrarea; (b) să-și actualizeze profilul; și (c) să solicite dezabonarea de la anumite grupuri de interes și/sau publicații. În unele cazuri, ID-urile de utilizator nefolosite o perioadă determinată sunt șterse automat din sistem.
</p>

<p class="sidemenu-modal-content-title">6. Cum vă păstrăm și protejăm datele cu caracter personal?</p>
<p>
Toate datele cu caracter personal în format electronic (e-mailuri, documente, loturi de date încărcate etc.) sunt stocate pe serverele Comisiei Europene. Toate operațiunile de prelucrare sunt efectuate în conformitate cu <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/RO/TXT/?uri=CELEX:32017D0046')">Decizia (UE, Euratom) 2017/46</a> a Comisiei din 10 ianuarie 2017 privind securitatea sistemelor informatice și de comunicații în cadrul Comisiei Europene.
<br>Pentru a vă proteja datele cu caracter personal, Comisia a instituit o serie de măsuri tehnice și organizatorice. Măsurile tehnice includ acțiuni adecvate menite să garanteze securitatea online, să evite riscul pierderii datelor, al modificării datelor sau al accesului neautorizat, ținând seama de riscul pe care îl prezintă prelucrarea datelor cu caracter personal și natura datelor cu caracter personal prelucrate. Măsurile organizatorice includ acordarea accesului la datele cu caracter personal doar persoanelor autorizate care au un interes legitim să le cunoască în contextul acestei operațiuni de prelucrare.
</p>

<p class="sidemenu-modal-content-title">7. Cine are acces la datele dumneavoastră cu caracter personal și cui îi sunt dezvăluite?</p>
<p>
Accesul la datele dumneavoastră cu caracter personal se acordă personalului Comisiei responsabil cu efectuarea operațiunii de prelucrare în cauză și personalului autorizat, în conformitate cu principiul „necesității de a cunoaște”. Personalul menționat trebuie să respecte dispozițiile legale și, atunci când este necesar, acordurile de confidențialitate suplimentare.
<br>Datele cu caracter personal nu vor fi puse direct la dispoziția subiecților situați în afara UE sau SEE. Cu toate acestea, interfața de aplicații web este accesibilă publicului; prin urmare, activitățile publice ale utilizatorilor vor fi vizibile din orice locație geografică, fără restricții.
<br>Informațiile pe care le colectăm nu vor fi divulgate niciunui terț, cu excepția cazului în care acest lucru este prevăzut de lege.
</p>

<p class="sidemenu-modal-content-title">8. Ce drepturi aveți și cum vi le puteți exercita?</p>
În calitate de „persoană vizată”, în temeiul capitolului III (articolele 14-25) din Regulamentul (UE) 2018/1725, beneficiați de drepturi specifice, în special dreptul de a vă accesa, rectifica sau șterge datele cu caracter personal și dreptul de a restricționa prelucrarea lor. De asemenea, dacă este cazul, aveți dreptul de a vă opune prelucrării sau dreptul la portabilitatea datelor.
<br>Vă puteți exercita drepturile contactându-l pe operatorul de date sau, în cazul unui conflict, pe responsabilul cu protecția datelor. Dacă este necesar, vă puteți adresa, de asemenea, Autorității Europene pentru Protecția Datelor. Informațiile de contact ale acestora sunt comunicate la punctul 9 de mai jos.
<br>În cazul în care doriți să vă exercitați drepturile în contextul uneia sau mai multor operațiuni de prelucrare specifice, vă rugăm să le descrieți în cererea dumneavoastră [adică, să furnizați numărul (numerele) de referință al(e) operațiunii (operațiunilor) de prelucrare, în conformitate cu punctul 10 de mai jos].
<br>
<br>Pentru administratorii aplicației „Invasive Alien Species Europe App”:
<br>Aveți dreptul de a vă opune prelucrării datelor dumneavoastră cu caracter personal, care se efectuează în mod legal în temeiul articolului 5 alineatul (1) litera (a).
<br>
<br>Pentru utilizatorii aplicației „Invasive Alien Species Europe App”:
<br>Ați consimțit să furnizați JRC.B.6 datele dumneavoastră cu caracter personal în scopul efectuării prezentei operațiuni de prelucrare. Vă puteți retrage consimțământul în orice moment, prin notificarea operatorului de date. Retragerea consimțământului nu va afecta legalitatea prelucrării efectuate înainte de această retragere.
</p>

<p class="sidemenu-modal-content-title">9. Date de contact</p>
<p>
Operatorul de date
<br>Dacă doriți să vă exercitați drepturile în temeiul <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/RO/TXT/?uri=CELEX:32018R1725')">Regulamentului (UE) 2018/1725</a>, dacă aveți observații, întrebări sau preocupări sau dacă doriți să depuneți o plângere cu privire la colectarea și utilizarea datelor dumneavoastră cu caracter personal, nu ezitați să contactați operatorul de date la adresa de e-mail <a ng-click="openMailLinks('JRC-B6-DP@ec.europa.eu')">JRC-B6-DP@ec.europa.eu</a>.
<br>
<br>Responsabilul cu protecția datelor (RPD) din cadrul Comisiei: 
<br>Îl puteți contacta pe responsabilul cu protecția datelor (<a ng-click="openMailLinks('DATA-PROTECTION-OFFICER@ec.europa.eu')">DATA-PROTECTION-OFFICER@ec.europa.eu</a>) pentru orice aspect legat de prelucrarea datelor dumneavoastră cu caracter personal în temeiul <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/RO/TXT/?uri=CELEX:32018R1725')">Regulamentului (UE) 2018/1725</a>.
<br>
<br>Autoritatea Europeană pentru Protecția Datelor (AEPD)
<br>Aveți dreptul de a face recurs (de exemplu, puteți depune o plângere) la Autoritatea Europeană pentru Protecția Datelor (<a ng-click="openMailLinks('edps@edps.europa.eu')">edps@edps.europa.eu</a>) dacă sunteți de părere că vi s-au încălcat drepturile în temeiul <a href="#" ng-click="openExternalLinks($event,'https://eur-lex.europa.eu/legal-content/RO/TXT/?uri=CELEX:32018R1725')">Regulamentului (UE) 2018/1725</a> ca urmare a prelucrării datelor dumneavoastră cu caracter personal de către operatorul de date.
</p>

<p class="sidemenu-modal-content-title">10. Unde puteți găsi informații mai detaliate?</p>
<p>
Responsabilul cu protecția datelor (RPD) din cadrul Comisiei publică registrul tuturor operațiunilor de prelucrare a datelor cu caracter personal efectuate de Comisie care au fost documentate și care i-au fost notificate. Puteți consulta registrul accesând linkul următor: <a href="#" ng-click="openExternalLinks($event,'https://ec.europa.eu/dpo-register')">https://ec.europa.eu/dpo-register</a>.
<br>Operațiunea specifică de prelucrare care face obiectul prezentei declarații a fost inclusă în registrul public al RPD cu numărul de referință: DPR-EC-00989 Invasive Alien Species Europe App.
</p>
<br>